.tool{
    /* border:1px solid red; */
    padding: 0.3rem 0.2rem;
    margin: 0.1rem 0.2rem;
    cursor: pointer;

}
.tool:hover{
    background-color: #00336a;
    color: white;
    border-radius: 8px;
}
.tool:disabled:hover{
    background-color: #00336a ;
    /* color: white;
    border-radius: 8px; */
}