.frame {
  /* width: 80px;
  height: 80px; */
  /* width: 100%; */
  /* display: inline; */
}
.frame img {
  width: 80px;
  height: 80px;
  /* margin: auto 5px; */
}
/* 
.frameDiv {
  width: 80px;
  height: 80px;
  height: auto;
  margin: 0.5rem;
  border: 1px solid salmon;
} */
