.frame {
  /* width: 80px;
  height: 80px; */
  /* width: 100%; */
  /* display: inline; */
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  position: relative;
}
.frame img {
  max-width: 80px;
  max-height: 80px;
  padding-bottom: 4px;
  flex: 1;
  cursor: pointer;
  /* margin: auto 5px; */
}
/* 
.frameDiv {
  width: 80px;
  height: 80px;
  height: auto;
  margin: 0.5rem;
  border: 1px solid salmon;
} */

.thisFrame img {
  border-bottom: 4px solid greenyellow;
}

.index {
  color: black;
  position: absolute;
  background-color: white;
  margin: 0;
  padding: 4px;
  border-radius: 4px;
}
