.toolbar{
    /* height: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #27496d;
    color: white;
    position: relative;
}
.menu{
    background-color: white;
    top: 100%;
    display: none;
    z-index: 1111;
    position: absolute;
}