section {
  margin: 0.2rem 0rem;
  position: relative;
}

.drawControlImage {
  width: 30px;
  padding: 0.5rem;
  border-radius: 0px;
  background: #3b3b3f;
}

.drawControlImage:hover {
  background-color: rgba(151, 151, 151, 0.5);
  border-radius: 4px;
}

.checked {
  border-radius: 0px;
  background-color: #036fb4 !important;
  border-radius: 4px;
}