.frames {
  background-color: rgba(0, 100, 0, 0.3);
  height: 250px;
  position: relative;
}
.allFrames {
  max-width: 80%;
  list-style: none;
  border: 1px solid skyblue;
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* overflow-x: scroll;
  position: absolute; */
  overflow-x: scroll;
  overflow-y: hidden;
}
/* .childAllFrames {
  display: flex;
} */
