.frames {
  background-color: #27496d;

  position: fixed;
  width: 100%;
  bottom: 0;
}
.allFrames {
  max-width: 100%;
  list-style: none;
  margin: 0;
  height: 134px;
  padding-top: 8px;
  /* border: 1px solid skyblue; */
  display: flex;
  background-color: #00356f;
  justify-content: flex-start;
  align-items: baseline;
  /* flex-wrap: wrap; */
  /* overflow-x: scroll;
  position: absolute; */
  overflow-x: auto;
  overflow-y: hidden;
}
/* .childAllFrames {s
  display: flex;
} */
.frameControlButtons {
  background-color: #27496d;
  display: flex;
  /* position: fixed; */
  /* bottom: 0; */
  padding: 0.2rem 0;
}
.frameControlButton {
  margin: 0;
  background-color: #27496d;
  color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  font-size: 1rem;
  outline: none;
}
.frameControlButton:hover {
  background-color: #0099ff;
}
.icon {
  font-weight: bold;
  padding-right: 0.5rem;
}
