.canvas {
  /* background-color: blueviolet; */
  margin: 0 auto;

}
.canvasDiv {
  flex: 1;
  background-color: #142850;
}
canvas {
  /* width: 250px;
    height: 250px; */
  /* box-sizing: border-box; */
  background-color: white;
  /* background-image: url('../../assets/colorWheel.png'); */
  
  z-index: 111;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.op {
  border: 1px solid skyblue;
}
.onionImage {
  position: absolute;
  opacity: 0.2;
}
