.animate{
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    height: 100%;
    align-items: stretch;
}
.core{
    display: flex;
flex: 1;
    background-color: #142850;
    flex-direction: column;
    
    /* justify-content: center; */
    /* align-items: stretch; */
}